
.start{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}

.start button {
    position : relative;
    left : 50%;
    transform: translate(-50%, 0);
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.game {
    display: flex;
    justify-content: center;
}
.score {
    padding: 40px;
}
.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 640px;
    padding-top: 20px;
    grid-template-columns: repeat(3, auto);
}

.item-box {
    background-color: #fff;
    width: 200px;
}

.item-box img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.item-box .oseibo-name {
    white-space: nowrap;
}

.modal {
    position: fixed;
    background-color : #ddd;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
}